@page "/" 
@using BlazorApp.Models;
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable
<PageTitle>gpt</PageTitle>
@code {
    private HubConnection? hubConnection;
    private List<Message> messages = new List<Message>();

    private string? userInput;
    private string? messageInput;
    private string? token;
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl(Navigation.ToAbsoluteUri("/chathub")).Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            //var encodedMsg = $"{user}: {message}";
            messages.Add(new Message { Name = user, Msg = message });
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }
    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage",token, userInput, messageInput);
        }
    }
    private async Task Clear()
    {
        messages.Clear();
    }
    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
<div class="row g-3">
    <div class="col-md-4">
        <label class="visually-hidden" for="stoken">token:</label>
        <div class="input-group">
            <div class="input-group-text">token:</div>
            <input type="text" class="form-control" @bind="token" id="stoken" placeholder="token">
        </div>
    </div>
    <div class="col-md-4">
        <label class="visually-hidden" for="snickname">nickname:</label>
        <div class="input-group">
            <div class="input-group-text">nickname:</div>
            <input type="text" class="form-control" @bind="userInput" id="snickname" placeholder="nickname">
        </div>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary">connect</button>
    </div>
    <div class="col-8">
        <div class="input-group">
            <span class="input-group-text">message</span>
            <textarea @bind="messageInput" class="form-control" aria-label="message"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <button type="submit" @onclick="Send" disabled="@(!IsConnected)" class="btn btn-primary h-100">send</button>
    </div>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0 text-primary">messages updates</h6>
    <div class="overflow-auto" style="height:610px;">
        @foreach (var m in messages)
        {
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block "> @m.Name</strong>
                    @m.Msg
                </p>
            </div>


        }  @*<div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">username</strong>
        This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
        </p>
        </div>*@
    </div>
    <small class="d-block text-end mt-3">
        <a href="#" @onclick="Clear">clear</a>
    </small>
</div>
