<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/static/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>gpt  You know</title>
    <style type="text/css">
        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #808080;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #b200ff;
        }

        html,
        body {
            height: 99%;
        }

        .container-fluid {
            height: 98%;
        }

        .row3 {
            height: calc(100vh - 160px);
        }

        .row4 {
            height: calc(100vh - 240px);
        }

        input, textarea {
            display: block;
            color: gray;
            border-width: 0px;
            background-color: black;
            border-radius: 5px;
        }
        .input-group1{display: flex;}
        .input-group-text {
            border-width: 0;
        }

        .row33 > * {
            float: left;
        }
    </style>
</head>
<body class="bg-body">
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-md-4">
                <label class="visually-hidden" for="stoken">token:</label>
                <div class="input-group1">
                    <div class="input-group-text text-secondary bg-dark">token:</div>
                    {% module xsrf_form_html() %}
                    <input type="{{inputtype}}" class="col-md" value="{{token}}" id="stoken" placeholder="token">
                </div>
            </div>
            <div class="col-md-4">
                <label class="visually-hidden" for="snickname">nickname:</label>
                <div class="input-group1">
                    <div class="input-group-text text-secondary bg-dark">name:</div>
                    <input type="text" class="col-md" value="{{name}}" id="snickname" placeholder="nickname">
                </div>
            </div>
            <div class="col-md-4 row33">
                <button type="submit" id="connect" class="btn btn-primary bg-dark btn-secondary text-secondary">connect</button>
                <input type="checkbox" onclick="checkboxOnclick()" style="margin-left: 5px;" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label text-secondary" for="exampleCheck1">image</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-8">
                <div class="input-group1">
                    <span class="input-group-text text-secondary bg-dark">message:</span>
                    <textarea id="mssageid" class="col-md" aria-label="message"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" id="Sendmsg" class="btn btn-primary bg-dark btn-secondary text-secondary h-100"> s e n d&nbsp;&nbsp; </button>
                <button type="submit" id="Sendmsg1" class="btn btn-primary bg-dark btn-secondary text-secondary h-100"> 语音输入 </button>
            </div>
        </div>
        <div class="row my-2 row3 col-lg-12">
            <div class="my-3 p-3 rounded shadow-sm" id="">
                <h6 class="border-bottom pb-2 mb-0 text-primary">messages updates</h6>
                <div id="uilist" class="overflow-auto row4">


                </div>
                <small class="d-block text-end mt-3">
                    <a href="javascript:void(0)" id="clear">clear</a>
                </small>
            </div>
        </div>
    </div>
    <script src="marked.esm.js"></script>
    <script type="text/javascript">
        var dataJson = [];
        var socket;
        var qtemp;
        var isimage = 0;
        window.addEventListener("DOMContentLoaded", () => {
            initwebsocket();
        });
        function checkboxOnclick() {
            var checkbox1 = document.getElementById("exampleCheck1");
            if (checkbox1.checked == true) {
                isimage = 1;
            } else {
                isimage = 0;
            }
        }
        function initwebsocket() {
            socket = new WebSocket("ws://" + location.host + "/cts");
            socket.onopen = function (recv) {
                //console.log(recv.data);
            };
            socket.onmessage = function (recv) {
                rdatajson = JSON.parse(recv.data);
                dataJson.unshift({ date: new Date(), name: 'GPT', msg: rdatajson.data, type: rdatajson.t });
                onresf();
            };
            socket.onerror = function (e) {
                console.log(e);
            }
            socket.onclose = function (e) {
                console.log('[' + new Date() + '] websocket 断开');
                console.log(e.code + ' ' + e.reason + ' ' + e.wasClean);
                setTimeout(function () {
                    initwebsocket();
                }, 2000);
            }
        }
        var omssageid = document.getElementById('mssageid');
        omssageid.onkeydown = function (ev) {
            ev = ev || window.event;
            if (ev.keyCode == 13) {
                oSendmsgs();
            }
            if (ev.keyCode == 38) {
                document.getElementById('mssageid').value = qtemp;
            }
            if (ev.keyCode == 40) {
                document.getElementById('mssageid').value = '';
            }
        }
        var oSendmsg = document.getElementById('Sendmsg');
        var oSendmsg1 = document.getElementById('Sendmsg1');
        oSendmsg1.onclick = function () {
            ongptwrite();
        };
        oSendmsg.addEventListener('click', oSendmsgs);
        function oSendmsgs() {
            var msg = document.getElementById('mssageid').value;
            msg = msg.trim();
            if (msg.length >= 1) {
                qtemp = msg;
                dataJson.unshift({ date: new Date(), name: document.getElementById('snickname').value, msg: msg, 'type': 0 });
                onresf();
                //socket.emit("cts", document.getElementById('mssageid').value);
                socket.send(JSON.stringify({ 'msg': msg, 'tk': document.getElementById('stoken').value, 'type': isimage }));
                document.getElementById('mssageid').value = '';
            }
        };
        var dclear = document.getElementById('clear');
        dclear.onclick = function () {
            dataJson = [];
            duilist.innerHTML = '';
        };
        var conn = document.getElementById('connect');
        conn.onclick = function () {
            var token = document.getElementById('stoken').value
            token = token.trim();
            if (token.length == 51) {
                const data = new FormData();
                data.append('token', token);
                data.append('_xsrf', getCookie("_xsrf"));
                data.append('name', document.getElementById('snickname').value);
                fetch('/login', {
                    method: 'post',
                    body: data
                }).then(function (response) {
                    response.text().then(function (text) {
                        console.log(text)
                        if (text == 'YES')
                            location.reload();
                        else {
                            if (text == 'NO') {
                                dataJson.unshift({ type: 0, date: new Date(), name: 'GPT', msg: '请输入正确的名字' });
                                onresf();
                            } else
                                location.reload();
                        }
                    })
                }).catch(function (err) {
                    console.log(err);
                });
            } else {
                dataJson.unshift({ type: 0, date: new Date(), name: 'GPT', msg: '请输入正确的token' });
                onresf();
            }
        };
        var duilist = document.getElementById('uilist');
        function onresf() {
            p = 0;
            {
                if (dataJson[p].name == 'GPT')
                    duilist.insertAdjacentHTML('afterbegin', '<div class="card-header text-success"><div class="d-inline bg-success">&nbsp;  &nbsp; </div> &nbsp;' + dataJson[p].name + '[' + dataJson[p].date + ']:</div><div class="card-body text-success"> </div>');
                else
                    duilist.insertAdjacentHTML('afterbegin', '<div class="card-header text-secondary"><div class="d-inline bg-secondary">&nbsp;  &nbsp; </div> &nbsp;' + dataJson[p].name + '[' + dataJson[p].date + ']:</div><div class="card-body text-secondary"></div>');
                gptjx(dataJson[p]);
            }
        }
        function gptjx(p) {
            if (p.type == 0) {
                document.querySelector('.card-body').innerText = p.msg;
            }
            if (p.type == 1)
                document.querySelector('.card-body').innerHTML = '<img style="width: 400px;height:400px;" src="data:image /png; base64,' + p.msg + '"/>'
        }
        var isred = false;
        var iswrite = false;
        function ongptred(v) {
            var speech = new SpeechSynthesisUtterance(v);
            window.speechSynthesis.speak(speech);
        }
        function ongptwrite() {
            var recognition = new webkitSpeechRecognition();
            recognition.onresult = function (event) {
                var y = event.results[0][0].transcript;
                console.log('Transcription: ' + y);
                if (y == 'yes') {
                    recognition.stop();
                    oSendmsgs();
                }
                else {
                    document.getElementById('mssageid').value += y;
                }
            };
            recognition.start();
        }
        function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }
    </script>
</body>
</html>
